body{
  padding-top: 70px;
  padding-bottom: 20px;
  /* background-image: linear-gradient(to bottom right, rgb(43, 65, 98), rgb(56, 145, 166), rgb(179, 242, 221)); */
  background-color: rgb(43, 65, 98);
}

#myImg{
  width: 250px;
  height: 320px;
}

#about{
  color: rgb(195, 190, 247);
}

#about h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.project{
  background-color: rgb(56, 145, 166);
}

.project h3{
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: rgb(179, 242, 221);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(195, 190, 247);
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(179, 242, 221);
}

.navbar-custom{
  background-color: rgb(221, 117, 150);
}

.navbar-text{
  color:rgb(43, 65, 98)
}